

<!-- Top Big Poster -->
<div class="movie_big_poster">
  <div class="big_poster">
    <img src="./assets/images/arrow-movie.jpg" alt="">
  </div>
</div>
<!-- /Top Big Poster -->

<!-- Movie Details Area -->
<div class="movie_details_area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="movie_details_info">
          <div class="row">
            <!-- Movie Poster Thumb -->
            <div class="col-sm-3 col-md-3 col-lg-2 padding_ten">
              <div class="single_movie_poster">
                <img src="./assets/images/arrow-movie-thumb.jpg" alt="">
                <a href="#" title="Show All Episodes">Show All Episodes</a>
              </div>
            </div>
            <!-- /Movie Poster Thumb -->

            <!-- Movie Details -->
            <div class="col-sm-9 col-md-9 col-lg-10 padding_ten">
              <!-- Title and Movie Type -->
              <div class="row">
                <div class="col-sm-12">
                  <div class="movie_title_type">
                    <h2>Arrow</h2>
                    <p>Action, Adventure, Comedy</p>
                  </div>
                </div>
              </div>
              <!-- /Title and Movie Type -->

              <!-- Movie Information -->
              <div class="row">
                <!-- Movie's Released -->
                <div class="col-sm-3">
                  <div class="movies_info">
                    <ul>
                      <li>
                        <img width="24" src="./assets/images/calender.png" alt="">
                        <div class="release_date">
                          <p>Released</p>
                          <h4>Oct 10. 2012</h4>
                        </div>
                      </li>
                      <li>
                        <img width="20" src="./assets/images/clock.png" alt="">
                        <div class="release_date">
                          <p>Runtime</p>
                          <h4>45 min</h4>
                        </div>
                      </li>
                      <li>
                        <img width="23" src="./assets/images/star.png" alt="">
                        <div class="release_date">
                          <p>IMDB Score</p>
                          <h4>7.9 <span>/10</span></h4>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /Movie's Released -->

                <!-- Movie's Description -->
                <div class="col-sm-6">
                  <div class="movie_des">
                    <p>Oliver Queen and his father are lost at sea when their luxury yacht sinks. His father doesn't survive.
                      Oliver survives on an uncharted island for five years learning to fight, but also learning about his
                      father's corruption and unscrupulous business dealings. He returns to civilization a changed man, determined
                      to put things right. He disguises himself with the hood of one of his mysterious island mentors, arms
                      himself with a bow and sets about hunting down the men and women who have corrupted his city.</p>
                  </div>
                </div>
                <!-- /Movie's Description -->

                <!-- Movie's Link -->
                <div class="col-sm-3">
                  <div class="movie_link">
                    <ul>
                      <li><a href="#" title="IMBD">IMDB <img width="13" src="./assets/images/imbd.png" alt=""></a></li>
                      <li><a href="#" title="Trailer">Trailer <img width="20" src="./assets/images/trailer.png" alt=""></a></li>
                    </ul>
                  </div>
                </div>
                <!-- /Movie's Link -->
              </div>
              <!-- /Movie Information -->
            </div>
            <!-- /Movie Details -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Movie Details Area -->


<!-- Season List Section -->
<div class="season_list_area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="episods_section">
          <div class="row">
            <!-- Season Select Box -->
            <div class="col-md-2 col-sm-3 padding_ten">
              <div class="season_select">
                <select name="season_select" id="season_select">
                                        <option value="">Season 1</option>
                                        <option value="">Season 2</option>
                                        <option value="">Season 3</option>
                                        <option value="">Season 4</option>
                                    </select>
              </div>
            </div>
            <!-- /Season Select Box -->

            <!-- Season Pagination List -->
            <div class="col-md-10 col-sm-9 padding_ten">
              <div class="episods">
                <ul class="pagination">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">6</a></li>
                  <li><a href="#">7</a></li>
                  <li><a href="#">8</a></li>
                  <li><a href="#">9</a></li>
                  <li><a href="#">10</a></li>
                  <li><a href="#">11</a></li>
                  <li><a href="#">12</a></li>
                  <li><a href="#">13</a></li>
                  <li><a href="#">14</a></li>
                  <li><a href="#">15</a></li>
                  <li><a href="#">16</a></li>
                  <li><a href="#">17</a></li>
                  <li><a href="#">18</a></li>
                  <li><a href="#">19</a></li>
                  <li><a href="#">20</a></li>
                  <li><a href="#">21</a></li>
                  <li><a href="#">22</a></li>
                  <li class="active"><a href="#">23</a></li>
                </ul>
              </div>
            </div>
            <!-- /Season Pagination List -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Season List Section -->

<!-- Poster and Description -->
<div class="poster_description_area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="series_view_poster">
          <div class="row">
            <!-- Episods Poster -->
            <div class="col-sm-4 padding_ten">
              <div class="series_poster">
                <img src="./assets/images/arrow-poster.jpg" alt="">
              </div>
            </div>

            <!-- Episods Details -->
            <div class="col-sm-8 padding_ten">
              <div class="description">
                <h2>Schism</h2>
                <h5>May 26, 2016</h5>
                <p>Oliver teams up with a surprising force in an attempt to stop<br />Damien Darhk and his magic once and for
                  all.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Poster and Description -->

<!-- Movie Player Area -->
<div class="movie_player_area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 padding_ten">
        <!-- Episods Video -->
        <div class="movie_player embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/6kaZBWJZYcg" allowfullscreen></iframe>
        </div>

        <!-- Pager -->
        <div class="pagination_area">
          <ul class="pager">
            <li class="previous disabled"><a href="#"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Previous Episode</a></li>
            <li class="next"><a href="#">Next Episode <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a></li>
          </ul>
        </div>
        <!-- /Pager -->
      </div>
    </div>
  </div>
</div>
<!-- /Movie Player Area -->
